<div class="container">

  <div class="tasks">
    <h1>My tasks</h1>

    <ul>
      <% @tasks.each do |task| %>
        <li>
          <%= link_to task.title, task_path(task.id) %>
          <%= link_to "Delete", task_path(task), method: :delete %>
        </li>

      <% end %>
    </ul>
  </div>

  <div class="new-task">
    <%= link_to "Add new task", tasks_new_path %>
  </div>

</div>
